.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid #bec1c4;
    padding-right: 10px;
}

.tweetBox form {
    display: flex;
    flex-direction: column;
}

.tweetBox-input {
    padding: 20px;
    display: flex;
}

.tweetBox-input input{
   flex: 1;
   margin-left: 20px;
   font-size: 20px;
   border: none;
}

.tweetButton {
    background-color: var(--primary) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}

.tweetBox-inputImage {
    border: none;
    padding: 10px;
}