.our-services {
    padding: 8rem 7% 1.4rem;
}

.our-services h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.our-services h2 span{
    color: var(--primary);
}

.our-services p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 0.8rem;
    font-weight: 100;
    text-align: center;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    margin-top: 1rem;
}

.container {
    background-color: #010101;
    border-radius: 2rem;
    width: 30rem;
    /* margin-left: 4.5rem; */
    position: relative;
    margin: auto;
}

img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.services-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    color: #fff;
    text-align: center;
    background-color: var(--primary);
    font-size: 1.4rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    position: relative;
    width: 15rem;
    margin-left: 7.5rem;
    margin-bottom: 4rem;
  }

  .container h3 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
  }

  .container p {
    color: #fff;
    text-align: justify;
    justify-content: center;
    font-size: 1rem;
    margin-left: 2.5rem;
    width: 25rem;
    height: 8rem;
  }